# This is a template `CODEOWNERS` file for snaps
# This file is managed by bootstack-charms-spec and should not be modified
# within individual snap repos. https://launchpad.net/bootstack-charms-spec

# For more information about CODEOWNER, please refer to
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, @canonical/bootstack will be requested for
# review when someone opens a pull request.
*       @canonical/bootstack-reviewers
