# This is a template `.gitignore` file for snaps
# This file is managed by bootstack-charms-spec and should not be modified
# within individual snap repos. https://launchpad.net/bootstack-charms-spec

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tests files and dir
.pytest_cache/
.coverage
.tox
.venv
reports/
**/report/
htmlcov/
.mypy_cache

# Log files
*.log

# IDEs
.idea/
.vscode/

# vi
.*.swp

# version data
repo-info

# Python builds
deb_dist/
dist/
*.egg-info/

# Snaps
*.snap

# Builds
.build/
build/
